body {
  margin: 0;
  background: azure;
}
#PlayGround {
  width: 100vw;
  height: 90vh;
  overflow: overlay;
  position: relative;
}

#PlayGround img {
  position: absolute;
  cursor: pointer;
}
#id1684851225384 {
  height: 300px;
  resize: both;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 25px;
  overflow: hidden;
  background: rgb(21, 31, 50);
  box-shadow: 5px 5px 17px #606666, -5px -5px 17px #ffffff;
}
#id1684851251761 {
  height: 45px;
  width: 100%;

  cursor: move;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(32, 41, 56);
}
#id1684851279793 {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  top: 0px;
  padding-left: 15px;
  left: 0px;
}
#id1684851304817 {
  height: 15px;
  width: 15px;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0px 4px;
  background: rgb(255, 0, 0);
}

#code-editor {
  width: 100%;
  height: 90%;
  padding: 10px;
  box-sizing: border-box;
}
#id1684907668905 div:active {
  box-shadow: inset 5px 5px 14px #395e53, inset -5px -5px 14px #bbffff;
}
#id1684907668905 div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background: #afc19a;
  box-shadow: 5px 5px 10px #6b765e, -5px -5px 10px #f3ffd6;
}
#id1684907668905 div img {
  filter: invert(0.3);
}
#imagesList img {
  width: 50px;
  margin: 5px;
  cursor: grab;
}
#imagesList {
  transition-duration: 0.5s;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow-x: scroll;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0px;
}
.imagebutton {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  color: grey;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  align-items: center;
}
.imagebutton:hover {
  background: grey;
  color: #fff;
}
#id1684907668905 {
  position: fixed;
  bottom: 50px;
  height: 60px;
  width: 100%;

  z-index: 999;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button {
  height: 60px;
  width: 60px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0px 5px;
}

.delete-button {
  height: 60px;
  width: 60px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0px 5px;
}
.CodeMirror {
  font-size: 20px;
  height: 100%;
  width: 100%;
}
#title {
  width: auto !important;
}

input,
#title {
  /* this is for div */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /* this is for all  */
  border-radius: 50px;
  height: 30px;
  color: #000;
  background: rgb(56, 65, 82);
  min-width: 20px;
  width: 70px;
  max-width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: sans-serif;
  letter-spacing: 2px;
}
.popup {
  position: absolute;
  display: none;
  z-index: 1000;
  left: 40%;
  top: 40%;
  width: 200px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.popup h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.popup select {
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.captureButtom:hover .captureoption {
  display: flex !important;
}
.captureoption {
  display: none !important;
  position: absolute;
  top: -75%;
  height: 50px !important;
  width: 100px !important;
  border-radius: 5px !important;
  justify-content: space-around !important;
  align-items: center;
}
.Modeselect {
  transition-duration: 0.3s;
  border-radius: 10px !important;
}
.Modeselect:hover {
  filter: invert(1);
}
