body {
  margin: 0;
  background: azure;
}
#PlayGround {
  position: relative;
}
#id1684851225384 {
  height: 300px;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-radius: 25px;
  overflow: hidden;
  background: rgb(21, 31, 50);
}
#id1684851251761 {
  height: 45px;
  width: 100%;

  cursor: move;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(32, 41, 56);
}
#id1684851279793 {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  top: 0px;
  padding-left: 15px;
  left: 0px;
}
#id1684851304817 {
  height: 15px;
  width: 15px;
  position: relative;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0px 4px;
  background: rgb(255, 0, 0);
}

#code-editor {
  width: 100%;
  height: 90%;
  padding: 10px;
  box-sizing: border-box;
}
#id1684907668905 div:active {
  box-shadow: inset 5px 5px 14px #395e53, inset -5px -5px 14px #bbffff;
}
#id1684907668905 div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background: #afc19a;
  box-shadow: 5px 5px 10px #6b765e, -5px -5px 10px #f3ffd6;
}
#id1684907668905 div img {
  filter: invert(0.3);
}
#id1684907668905 {
  position: fixed;
  bottom: 50px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-button {
  height: 60px;
  width: 60px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0px 5px;
}

.delete-button {
  height: 60px;
  width: 60px;
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 0px 5px;
}
.CodeMirror {
  font-size: 20px;
  height: 100%;
  width: 100%;
}

input {
  border-radius: 50px;
  height: 30px;
  background: rgb(56, 65, 82);
  min-width: 20px;
  width: 70px;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 700;
  letter-spacing: 2px;
}
